body {
  background-color: #222;
  color: #444;
  font-family: 'Brush Script MT', cursive;
  text-align: center;
  padding: 40px;
}

.dog-card {
  border: dotted 3px yellow;
  padding: 20px;
  margin: 20px auto;
  width: 50%;
}

.label {
  font-size: 1.2em;
  color: limegreen;
}

button {
  padding: 20px;
  background-color: pink;
  color: pink;
  font-size: 1.1em;
  border-radius: 25px;
  border: none;
  cursor: crosshair;
}
