html,
body {
  width: 900px;
  height: 600px;
  overflow: hidden;
  margin: 0 auto;
}

body {
  background-color: #222;
  color: #444;
  font-family: 'Brush Script MT', cursive;
  text-align: center;
  padding: 40px;
}

.dog-card {
  border: dotted 3px yellow;
  padding: 20px;
  margin: 20px auto;
  width: 50%;
}

.label {
  font-size: 1.2em;
  color: limegreen;
  font-style: italic;
  letter-spacing: 3px;
}

button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 4px 8px;
  background-color: #ffc0cb;
  color: #e48ca2;
  font-size: 0.65em;
  border-radius: 8px;
  border: none;
  cursor: crosshair;
  font-family: 'Papyrus', fantasy;
}